/*calendar area*/
.day_block {
    width: 100px;
    min-height: 170px;
    float: left;
    border: 1px solid;
    margin: 5px;
}

.date_div {
    text-align: center;
    font-size:9pt;
}

#days_area {
    height: auto;
}

.day_task_item {
    font-size:10pt;
    margin: 5px 0;
    padding: 5px 0;
    
}

.task-option-delete {
    font-size: 8pt;
    color: red;    
}
.task-option-complete {
    font-size: 8pt;
    color: blue;    
}
/*end calendar area*/


h2 {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}



/*task list*/
.task-list-options {
    color: red;
}

